<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>手相占い</title>
</head>
<header>
  <h1>手相占い</h1>
</header>

<body>
  <div id="app">
    <article v-if="selection<3">
      <p>あなたの手相に一番近いものを選んでください。</p>
      <br>
      <h2>{{lineType}}</h2>
      <p>{{comment}}</p>
      <table>
        <tr>
          <td>
            <button @click="minus(1)" type="button" name="戻る" value="value">
              ＜
            </button>
          </td>
          <td>
            <img v-bind:src="myImage" width="300">
          </td>
          <td>
            <button @click="plus(1)" type="button" name="次" value="value">
              ＞
            </button>
          </td>
        </tr>
      </table>
      <br>
      {{page}}/{{allpage}}
      <br>
      <br>
      <button @click="select(1)" type="button" name="決定" value="value">
        OK
      </button>
    </article>
    <article v-if="selection>2">
      <h2>あなたの基本３大線</h2>
      <p>感情線：{{emotionType}}　・　頭脳線：{{brainType}}　・　生命線：{{lifeType}}</p>
      <br>
    </article>
    <article v-if="selection>2">
      <p>知りたい占い結果を選択してください。</p>
      <button @click="category1()" type="button" name="基本性格" value="value">
        性格
      </button>
      <button @click="category2()" type="button" name="恋愛傾向" value="value">
        恋愛
      </button>
      <button @click="category3()" type="button" name="才能と仕事" value="value">
        才能
      </button>
    </article>
    <article v-if="resultVisible >0">
      <h2>{{title}}</h2>
      <p style="width:600px; 
          margin-left:auto; 
          margin-right:auto; 
          text-align:left; 
          border-width:thick;
          border-color:orange;
          border-bottom-color: brown;
          border-right-color: brown;
          color:chocolate;
          background-color: white;
          border-style:double;
          padding:20px;
          font-weight: 500;
          line-height:150%;">{{result}}</p>
    </article>
  </div>
  <br>
  <br>
  <br>
  <br>
  <!-- JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        myImage: './image/感情線_ラテン系線.png',
        page: 1,
        allpage: 5,
        selection: 0,
        emotion: 1,
        brain: 1,
        life: 1,
        lineType: '「感情線」',
        comment: '線が人差し指と中指の間より手前で終わっている。',
        emotionType: 'ラテン系線',
        brainType: '理系線',
        lifeType: '常識人線',
        title: '　',
        result: '　',
        resultVisible: 0,
      },
      methods: {
        minus: function(number) {
          if (this.page > 1) {
            this.page -= number;
            if (this.selection == 0) {
              this.emotion -= number;
              if (this.emotion == 1) {
                this.comment = '線が人差し指と中指の間より手前で終わっている。';
                this.myImage = './image/感情線_ラテン系線.png';
              } else if (this.emotion == 2) {
                this.comment = '線が人差し指と中指の間よりも先で終わっている。';
                this.myImage = './image/感情線_奥手線.png';
              } else if (this.emotion == 3) {
                this.comment = '線が人差し指と中指の間くらいで終わっている。';
                this.myImage = './image/感情線_良妻賢母線.png';
              } else if (this.emotion == 4) {
                this.comment = '線が途中から急上昇して、指のつけ根近くまで伸びている。';
                this.myImage = './image/感情線_気づかい屋線.png';
              } else if (this.emotion == 5) {
                this.comment = '感情線と頭脳線※が一体化している。※親指と人差し指の間から横に伸びる線';
                this.myImage = './image/感情線_ますかけ線.png';
              }
            } else if (this.selection == 1) {
              this.brain -= number;
              if (this.brain == 1) {
                this.comment = '線の先がまっすぐか、やや下降気味。感情線の始点～手首の上半分に向かっている。';
                this.myImage = './image/頭脳線_理系線.png';
              } else if (this.brain == 2) {
                this.comment = '線の先が下降している。';
                this.myImage = './image/頭脳線_文系線.png';
              } else if (this.brain == 3) {
                this.comment = '線の先端がかなり極端に下がり、手首近くまで下降している。';
                this.myImage = './image/頭脳線_芸術家線.png';
              } else if (this.brain == 4) {
                this.comment = '線が始点から急降下し、さらに張り出し方も弱い。';
                this.myImage = './image/頭脳線_ひきこもり線.png';
              }
            } else if (this.selection == 2) {
              this.life -= number;
              if (this.life == 1) {
                this.comment = '頭脳線と生命線の起点が重なっている。';
                this.myImage = './image/生命線_常識人線.png';
              } else if (this.life == 2) {
                this.comment = '頭脳線と生命線の起点が２～３㎝くらい大きく重なっている。';
                this.myImage = './image/生命線_消極線.png';
              } else if (this.life == 3) {
                this.comment = '頭脳線と生命線の起点が離れている。';
                this.myImage = './image/生命線_KY線.png';
              } else if (this.life == 4) {
                this.comment = '生命線の起点が頭脳線の起点より上にあり、途中でクロスしている。';
                this.myImage = './image/生命線_引っ込み思案線.png';
              }
            }
          }
        },
        plus: function(number) {
          if (this.page < this.allpage) {
            this.page += number;
            if (this.selection == 0) {
              this.emotion += number;
              if (this.emotion == 1) {
                this.comment = '線が人差し指と中指の間より手前で終わっている。';
                this.myImage = './image/感情線_ラテン系線.png';
              } else if (this.emotion == 2) {
                this.comment = '線が人差し指と中指の間よりも先で終わっている。';
                this.myImage = './image/感情線_奥手線.png';
              } else if (this.emotion == 3) {
                this.comment = '線が人差し指と中指の間くらいで終わっている。';
                this.myImage = './image/感情線_良妻賢母線.png';
              } else if (this.emotion == 4) {
                this.comment = '線が途中から急上昇して、指のつけ根近くまで伸びている。';
                this.myImage = './image/感情線_気づかい屋線.png';
              } else if (this.emotion == 5) {
                this.comment = '感情線と頭脳線※が一体化している。※親指と人差し指の間から横に伸びる線';
                this.myImage = './image/感情線_ますかけ線.png';
              }
            } else if (this.selection == 1) {
              this.brain += number;
              if (this.brain == 1) {
                this.comment = '線の先がまっすぐか、やや下降気味。感情線の始点～手首の上半分に向かっている。';
                this.myImage = './image/頭脳線_理系線.png';
              } else if (this.brain == 2) {
                this.comment = '線の先が下降している。';
                this.myImage = './image/頭脳線_文系線.png';
              } else if (this.brain == 3) {
                this.comment = '線の先端がかなり極端に下がり、手首近くまで下降している。';
                this.myImage = './image/頭脳線_芸術家線.png';
              } else if (this.brain == 4) {
                this.comment = '線が始点から急降下し、さらに張り出し方も弱い。';
                this.myImage = './image/頭脳線_ひきこもり線.png';
              }
            } else if (this.selection == 2) {
              this.life += number;
              if (this.life == 1) {
                this.comment = '頭脳線と生命線の起点が重なっている。';
                this.myImage = './image/生命線_常識人線.png';
              } else if (this.life == 2) {
                this.comment = '頭脳線と生命線の起点が２～３㎝くらい大きく重なっている。';
                this.myImage = './image/生命線_消極線.png';
              } else if (this.life == 3) {
                this.comment = '頭脳線と生命線の起点が離れている。';
                this.myImage = './image/生命線_KY線.png';
              } else if (this.life == 4) {
                this.comment = '生命線の起点が頭脳線の起点より上にあり、途中でクロスしている。';
                this.myImage = './image/生命線_引っ込み思案線.png';
              }
            }
          }
        },
        select: function(number) {
          if (this.selection < 4) {
            if (this.page == 5) {
              this.selection += 2;
              this.brain = 5;
            } else {
              this.selection += number;
            }
            if (this.selection == 1) {
              this.comment = '線の先がまっすぐか、やや下降気味。感情線の始点～手首の上半分に向かっている。';
              this.myImage = './image/頭脳線_理系線.png';
              this.lineType = '「頭脳線」';
              this.page = 1;
              this.allpage = 4;
            } else if (this.selection == 2) {
              this.comment = '頭脳線と生命線の起点が重なっている。';
              this.myImage = './image/生命線_常識人線.png';
              this.lineType = '「生命線」';
              this.page = 1;
              this.allpage = 4;
            } else if (this.selection == 3) {
              if (this.emotion == 1) {
                this.emotionType = 'ラテン系線';
              } else if (this.emotion == 2) {
                this.emotionType = '奥手線';
              } else if (this.emotion == 3) {
                this.emotionType = '良妻賢母線';
              } else if (this.emotion == 4) {
                this.emotionType = '気づかい屋線';
              } else if (this.emotion == 5) {
                this.emotionType = 'ますかけ線';
              }
              if (this.brain == 1) {
                this.brainType = '理系線';
              } else if (this.brain == 2) {
                this.brainType = '文系線';
              } else if (this.brain == 3) {
                this.brainType = '芸術家線';
              } else if (this.brain == 4) {
                this.brainType = 'ひきこもり線';
              } else if (this.brain == 5) {
                this.brainType = 'ますかけ線';
              }
              if (this.life == 1) {
                this.lifeType = '常識人線';
              } else if (this.life == 2) {
                this.lifeType = '消極線';
              } else if (this.life == 3) {
                this.lifeType = 'KY線';
              } else if (this.life == 4) {
                this.lifeType = '引っ込み思案線';
              }
            }
          }
        },
        category1: function() {
          this.resultVisible = 1;
          this.title = '基本性格';
          if (this.brain == 1) {
            if (this.life == 1) {
              this.result = 'あなたは頭脳明晰で統率力がある人です。感情に流されることなく物事に対して冷静な判断ができるので、人の上に立てるタイプといえますね。しかし、自分の有能さを鼻にかけてしまい、他人を見下してしまうこともあるようです。恋愛に関しては一変して大胆なことをする傾向にあり、その場限りの恋をすることもありそうですよ。ただ、自己アピールが得意な割には、恋愛相手に対しては本心をさらけ出すことができず、「気持ちをわかってくれない」と勝手にいら立つことがありそうです。なお執着心はなく、移り気で心変りも早い人ですね。';
            } else if (this.life == 2) {
              this.result = '論理的に物事を考えられ、ややこしい話をうまくまとめられるのがあなた。そのため、職場ではリーダー的な存在になれるタイプです。かといって偉そうではなく、自分の主張を無理じいすることなどなく、常に周囲との調和をはかれる人でもあります。恋愛に関してはかなり積極的で、合コンでは気になる相手の近くにいって大胆アプローチをすることができます。ただ、自慢話が多い割には実は自分に自信があまりなく、沈黙を恐れて話続けてしまうようなこともあるのでは? なお、熱しやすく冷めやすい性質なので恋愛期間は短めになりがちです。';
            } else if (this.life == 3) {
              this.result = '生命線と頭脳線が離れているあなたはかなりマイペース。人の意見に合わせることなく、自分の主張を押し通す傾向があります。ただ、頭のキレは人一倍よいので、仕事ではトントン拍子で出世してトップに立っているようなことも。また平凡な仕事よりも、派手で個性的、クリエイティブな分野で活躍することになるそうです。恋愛面は一気に燃え上がるタイプ。ただ、駆け引きが下手で、何でもかんでも正直にいってしまうことがあるかも。口論になると自分を抑えられずにいいすぎてしまうので気をつけたほうがよいです。';
            } else if (this.life == 4) {
              this.result = 'あなたはリーダーとして活躍できる素質があるにもかかわらず、常に漠然とした不安に包まれており、いざというときに思いきれないところがありますね。そのためにチャンスをみすみす逃してしまうことも多いようです。また、人からどう思われるかを気にし過ぎて、ストレスがたまりやすい傾向にもあるようです。情緒不安定になりやすいタイプといえますね。しかし、その半面、恋愛では大胆さもあるようで、その無鉄砲さが仕事のほうにもうまく生かせれば、将来的に成功できる可能性がでてきます。';
            }
          } else if (this.brain == 2) {
            if (this.life == 1) {
              this.result = 'あなたは人から愛されるお調子者。愛想がよく、天真爛漫なので、常に周囲の人にサポートしてもらえるタイプですね。ですので、どんなトラブルが起きても困ることがありません。物事を物理的に考えることは苦手ですが、ひらめきや独創性にはかなり優れている人です。そのため、文学や美術・芸術などのクリエイティブ方面で活躍できる可能性を秘めていますよ。ただ、意外と小心者で傷つきやすい面も ありますね。失敗するとかなり落ち込んでしまうこともありそうです。しかし、しばらくすれば勝手に立ち直れる人でもありますね。';
            } else if (this.life == 2) {
              this.result = 'あなたは争いごとが苦手な人です。さらに他人に何でも調子よく合わせてしまう傾向にありますね。しかし、そのために八方美人だと思われることもあるのでは? また、不信感や疑いをうまく隠せないタイプで、笑顔なのに実は眼が笑っていないようなこともあるようです。それが周囲の人に悪い印象を与えることがあります。そんなあなたは下手に自分をつくろうよりも、自然なままの姿を出すほうが好まれることになりますよ。なお、恋愛は熱しやすく冷めやすい傾向にあります。数多くの恋を経験することになる人ですね。';
            } else if (this.life == 3) {
              this.result = 'あなたは人気者になれる素質のある人です。少し間の抜けたところがありますが、そこが愛嬌があると感じられ、上からも下からもかわいがられることになりますね。ただ、その反面、自分の認めた人以外の話は聞けないところがあります。頑として意思を曲げないようなことも。しかし、あなたの場合はそれも個性だと思われて逆に支持されることになるようです。ですので、自分の信念を貫けばよいですよ。なお、テレビのディレクターや本の編集者などクリエイティブな仕事の方面で活躍できることになります。';
            } else if (this.life == 4) {
              this.result = 'あなたは独特なひらめきを持っている人です。誰にも真似できないようなことを生み出す力を秘めているタイプといえますね。しかし、自信がなく、せっかくのアイデアを表に出せない傾向にあります。何か思いついても、「どうせ笑われるに 違いない」と心の中に閉じ込めてしまうことが多いのでは? そんなあなたを理解しバックアップし てくれる人が現れれば、一気に才能が開花することになりますよ。なお、恋愛も相手のことばかり考えがちですが、もっとわがままになるほうが魅力的だと思われることになりますよ。';
            }
          } else if (this.brain == 3) {
            if (this.life == 1) {
              this.result = 'あなたはっきりいって生活力に乏しいタイプ。目の前の快楽に飛びつく傾向にあり、先のことはあまり考えない傾向にある人です。「何とかなるさ」といって、何でも済ませてしまうことが多いのでは? 仕事や課題などもぎりぎりまで手をつけず、間際になって焦るタイプといえます。また、恋愛体質で、異性に出会うと冷静 さを失い衝動的に行動してしまうことが多いようです。三角関係などにも陥りやすいといえますね。しかし、何かトラブルが起こると、いち早く逃げ腰になってしまうことに! なお、美術や芸術など自由が利く仕事で成功する人です。';
            } else if (this.life == 2) {
              this.result = '豊かな才能に恵まれているあなたですが、恥ずかしがり屋なために、なかなか世に出ることがない人ですね。妄想の世界ではありとあらゆることをやってのけるのに、いざ現実となると、ただただ周囲に流されてしまう傾向にあるようです。依存心が強く、他人のいいなりになってしまうことも多いのでは? そんなあなたですが、一度何かに真剣 に取り組めば道が開ける可能性があります。自分にチャンスを与えてあげるのが◎。なお、ひとつのことにしか集中できないので、同時にいくつもの仕事を請け負わないほうがよいですよ。';
            } else if (this.life == 3) {
              this.result = 'かなり自己本位なタイプのあなた。周囲のことなどまったく気にせず、自分のやりたいことしかやらないタイプといえます。恋人ができてもお構いなしで、それまで通りの自由気ままに振る舞い続ける傾向にありますね。もしケンカになれば自分が悪くても謝ることはなく、開き直ったり、相手の些細なミスを徹底的に追及するようなこともあるようです。また、情熱的な気質で、勢いで浮気するようなこともありそうですよ。しかし、そんなところが一部の異性を魅了することになり、職場などで隠れファンができる可能性があります。';
            } else if (this.life == 4) {
              this.result = 'あなたは好き勝手に生きたい願望が心の奥底にある人です。想像力もたくましく、思考がどこまでもふくれあがる傾向にありますね。しかし、実際には世間の常識を超えるようなことはできません。人によく思われたい気持ちから、意に反して、一般大衆と同じことをすることが多くなるでしょう。そのためにリスクの少ない平和な人生を送ることになりますよ。ただ、恋愛に関しては、時々無茶をすることがあるようです。街中で出会った異性と意気投合するようなこともあるかも。';
            }
          } else if (this.brain == 4) {
            if (this.life == 1) {
              this.result = 'あなたは繊細でデリケートな人。自分が傷つくことを自然と避ける傾向にあり、問題が起きるといち早く逃げようとする傾向にありますね。必死になって解決しようとはしないタイプです。また、自分に自信があるけれど、同時にマイナス思考も併せ持っているので、無茶な決断をすることはないようです。そのために大失敗をすることはありません。なお、恋愛に関しては慎重さがあまりなく、ビビッと来ただけで飛びつくようなところがありますね。また、相手のことを過大評価することが多いようですが、恋愛は短命になりがちに。';
            } else if (this.life == 2) {
              this.result = 'とても慎重で警戒心が強いあなた。感受性が強く、人一倍傷つきやすい人だといえます。そのため、ちょっとしたことでもくよくよといつまでも悩んでしまうのでは? また、そんな不安や心配ごとから逃れるために、自分の殻に閉じこもる傾向にありますね。ただ、自己愛は強いので、誰かのいいなりになってしまうようなことはなく、批判精神はかなり高い人でもあるようです。ときに、鋭いひとことを発して周囲を驚かせることもあるようですが、逆にそこが周囲の人には面白がられることになりますよ。 恋愛は短い恋に走りがちな傾向に。';
            } else if (this.life == 3) {
              this.result = '勝手気ままな気質を持つあなた。自分の才能を過信する傾向にあり、ひたすらマイペースな人生を歩んでいくタイ プといえます。人と同じであることを好まない、かなり個性的な人でもありますね。ですので、デスクワークなどの平凡な仕事ではないほうが向いています。特に、人と接する派手な職種で開花する可能性がありますよ。ただ、問題処理能力は低く、トラブルが発生するととたんにストレスを感じる傾向にあります。そんなあなたには、面倒なことを引き受けてくれるパートナー的存在ができれば能力を最大限に生かせることになりますよ。';
            } else if (this.life == 4) {
              this.result = '自分の才能を信じてはいますが、いまひとつ思い切った行動に出れないのがあなたの特徴です。極度の心配症で、次々に不安がよぎってしまうため、結局無難な道を選ぶ傾向にあるのです。ですので、人生のリスクは少ないですが、大成功を手にする可能性も低いといえます。また、普段は大人しく穏やかですが、不安や心配ごとがあると、イライラして人に冷たくなる人です。そのために、周囲に「感情の起伏が激しい人間だ」と思われることがありますね。なお、恋愛はかなりスピード感がありますが、終了するのも早いようですよ。';
            }
          } else if (this.brain == 5) {
            if (this.life == 1) {
              this.result = '天下取りの相を持つあなたは、強烈なエネルギーを内に秘めている人です。野望達成のためには、休むことなく活動できるパワフルなタイプといえますね。ただ、そのために、少しでも暇ができると不安に感じてしまうことがあるようです。リラックスできない貧乏性といえるかも。なお、頭がすこぶるよく、カリスマ的な魅力で人をひきつけ、指導者としてあがめられることになりますが、その反面、強情で意地っ張りなところもあるため、周囲の人から「変わり者」とか「とっつ きにくい」とか思われることもあるようです。妥協もときには必要です。';
            } else if (this.life == 2) {
              this.result = 'カリスマ的な魅力を備えつつも、なかなか表に出てこないのがあなたという人です。ことを起こそうという気はあるのですが、すぐに行動に移すことができず、ウジウジ考えているうちにチャンスを逃すようなタイプといえますね。また、自信を持って挑んだことでも、もし誰かが何かいってきたら、すぐにその意見に従ってしまうようなこともあるようです。恋愛は身近な人を恋人にする傾向にありますね。なお、つき合うまでは、クールでかなり慎重な態度で接しますが、関係を持つと モーレツな執着心を見せることになるようです。';
            } else if (this.life == 3) {
              this.result = 'あなたは無敵の人。かなり自己主張が強く、協調性がありませんが、けしてわがままだと思われず、受け入れてもらえるタイプといえますね。むしろ、そんな強気なところに、人が群がってくる感じ。他人の顔色をうかがうことがなく、揉めてもひるむことがないところに信望者ができることになります。ですので、ゴーイングマイウェイを貫いてOK。ただ、プライドを傷つけられたり、認められないと、とたんに意気消沈してしまうという欠点もあるようです。しかし、パワーダウンすると単なる変人扱いされることになりかねないので気をつけて。';
            } else if (this.life == 4) {
              this.result = 'あなたは天才的な才能を秘めている人です。あまり気乗りしないジャンルであっても、いざ手がけてみれば思いがけない成功を収めたりすることがあるようです。その反面、かなりの心配症で、少しでもリスクを感じたりすると、とたんにやる気がなくなってしまうことになるタイプ。そのため、冒険することなく、確実に安全なもののみを選ぶことも多いようです。なお、恋愛ではかなり頑固な面を見せることに。相手によく思われたいと思いつつも、自分の意見は曲げられないようなところがあります。そのために頑固だと思われることが多いですね。';
            }
          }
        },
        category2: function() {
          this.resultVisible = 1;
          this.title = '恋愛傾向';
          if (this.emotion == 1) {
            this.result = 'あなたは熱しやすく冷めやすい恋愛傾向にあります。かなり短気で「気に入った」と思えばすぐにアタックせずにはいられない性質です。また、気持ちが一気に頂点に達するので、つき合って間もないにもかかわらず、「この人と生涯をともにする」など家族や友だちに宣言してまわることも! 寝ても覚めても相手のことを考え続け、1日に何度もメールや電話をするタイプですが、ふとしたきっかけですっと冷め てしまうことがあるようです。そして、一方的に別れを切り出すことも。なお、別れた後に未練を持つことはありません。';
          } else if (this.emotion == 2) {
            this.result = 'あなたは恋愛に溺れるようなことがない人です。とても慎重で、一目惚れすることなど滅多にありません。どんなにセクシーに迫られてもシラッとしているような人です。また、出会いがあっても、なかなか行動に出ないので、見過ごしの恋を経験することも少なくないですね。さらに、いざ交際が始まってもどこか冷めており、「恋しているのは相手だけ」のような態度を取ることが。しかし、本心は相手に夢中で、別れを切り出されたらとたんにあたふたしてしまうことになる人です。執着心が強く、別れた後いつまでも引きずる傾向があります。';
          } else if (this.emotion == 3) {
            this.result = 'あなたは心のバランスがきちんと取れている人です。 考え方に偏りがなく、恋人のことも理解しようとつとめるタイプといえますね。 また、アプローチ中と交際後の態度に変化が見られないのもあなたの特徴です。「釣った魚に餌はやらない」などということはなく、いつまでも恋人のことを大切にすることになりますね。 楽しいことが好きなので、恋人と色んな イベントを企画することになりそう。ただ、面倒身がよい反面、恩着せがましいことをいってしまうこともあるようです。';
          } else if (this.emotion == 4) {
            this.result = 'あなたは母親の影響を強く受けている 人です。恋愛でも威張り散らすようなことはなく、相手のことを深く思いやる恋人にな りますね。さりげなく相手を支え、また相手の魅力や能力が発揮できるようにサポートする人でもあります。恋人といつも一緒にいたいと思うようですが、無理じいすることはない人ですね。なお、かなり優しい印象があるので、恋人がいてもあちこちから誘いがかかることもありそうです。';
          } else if (this.emotion == 5) {
            this.result = '独特の個性と魅力を持つあなた。 恋愛に対する考え方も先進的で、普通の恋愛では飽き足らず、ほかとはひと味違う特別な関係を築こうとする傾向にあり ます。 周囲が羨むような素敵なカップルになるために、ひたすら努力するタイプといえますね。ただ、かなりワンマンで強引なところがあり、恋人を自分だけのものにしないと気がすまないようです。嫉妬心や執着心が人一倍強いために、相手を束縛するようなこともあるようです。';
          }
        },
        category3: function() {
          this.resultVisible = 1;
          this.title = '才能と仕事';
          if (this.brain == 1) {
            this.result = '理系方面への適性があるあなた。空想的なものではなく、現実的な分野で才能を発揮できることになる人です。また、探究心旺盛で頭脳明晰、瞬時に物事を判断し行動に移せる能力があるので、経営者や管理職などでも活躍できるタイプですね。ですので、人の上に立てるチャンスが巡ってきたら引き受けることです。なお、カウンセリングの能力はあるのですが、人の話に興味がないために、無関心な態度を取ってしまう傾向にあるようですね。しかし、嘘でもよいので気持ちを分かってあげる態度を取れば、信頼を持たれることになります。';
          } else if (this.brain == 2) {
            this.result = '細かい数字や論理的なものよりも、ひらめきやアイデアなどが生かせる職種があなたには向いています。特に、文章やアート、音楽などに関係するものと縁があるようです。また、あなたの場合は一匹狼でいるよりも、周りからサポートを得るほうがパワーとエネルギーが発揮され、輝けることになります。ですので、いい意味で乗せられるようにするといいですね。なお、職場ではムードメーカー的な立場でいるのが向いている人です。トップに立つよりも、二番手でリラックスしているほうがうまくいくことになります。';
          } else if (this.brain == 3) {
            this.result = '想像力がとても豊かなあなた。その才能は、現実からかけはなれた世界で発揮できることになるでしょう。芸能界やアート、ミュージックなどに携わるのが、あなたにとっての一番の適職だといえます。ただ、収入はかなり不安定で、まったくないということもあるかもしれません。しかし、それでも「まぁいいか」と思ってしまう傾向にあるようです。なお、過去の栄光にとらわれやすい人ですが、それでは前に進めません。さらに、いいわけが多いのも✖。 生活していくには、スポンサーを見つけるか多少の妥協が必要かもしれません。';
          } else if (this.brain == 4) {
            this.result = 'あなたは誰よりも感受性が強く、また繊細な人でもあります。そのため、普通の人が気にしないようなことが気になり、悪いほうにとらえて批判したりする傾向にありますね。しかし、それは欠点ではありません。あえて辛口のコメンテーター的な存在になるのが、あなたの才能といえますよ。職場では、本音を語ってくれる人として重宝される可能性大です。 なお、自分大好き人間なので、みじめな思いをしたり、自己犠牲を払わないといけないような仕事は向いていません。責任の重い仕事も長続きはしない傾向にあります。';
          } else if (this.brain == 5) {
            this.result = 'あなたは天性の才能を持っている人です。多芸多才で、どんな分野でも活躍できる 素質を秘めているといえますね。未経験のジャンルに転職したとしても、すぐに知識や技術を習得できることになりますよ。なお、知的で直感力に優れ、想像力も豊 か。加えて、統率力、高い戦略性もある人なので、商いを始めれば奇才を発揮で きることになりそうです。ただ、最初からずっとスムーズにいくというわけではなく、かなり浮き沈みが激しくなることになります。大損した後には大成功するなど、かなり両極端で波瀾万丈になることになります。';
          }

        },
      }
    });

  </script>
</body>
